@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald|Cutive+Mono|Fjalla+One|Quicksand|Playfair+Display|Open+Sans|Rock+Salt|VT323|Cedarville+Cursive|Permanent+Marker|Nothing+You+Could+Do|Caveat:400,300');

body {
    background: #131212;
}

header {
    display: flex;
    justify-content: center;
}

.logo {
    width: min(150px, 100%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: solid 10px #f1f1f1;
    margin: 20px 20px 100px 20px;
}

#masonry-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: masonry;
    align-content: start; 
    gap: 40px;
    max-width: 1600px;
    margin: 0 auto;
}

figure {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;   
}

figcaption {
    grid-row: 2;
    grid-column: 1;
    /* background-color: rgba(255, 255, 255, .5); */
    padding: 1em;
    justify-self: start;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.masonry-figure span {
    color: #fff;
    font-family: 'Itim', cursive;
    transition: .8s opacity;
}

.masonry-img {
    width: 100%;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(#000, .7);
    transition: .8s opacity;
}

.portfolio-img {
    max-height: 30px;
    max-width: 30px;
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: solid 3px #fff;
    transition: .8s opacity;
}

#masonry-gallery:hover img,
#masonry-gallery:hover span {
    opacity: 0.3;
}

#masonry-gallery:hover .masonry-figure :hover {
    opacity: 1;
}


/*kristian's css*/


  .sub-title {
    font-family: 'Quicksand',  sans-serif;
    text-align: middle;
    font-size: 15px;
    color: #4f4f4f;
    margin-bottom: -10px;
    padding-top: 70px;
    font-weight: bold;
    letter-spacing: 5px;

  }
  .title {
    font-family:'Oswald', 'Fjalla One', serif;
    text-align: center;
    font-size: 57px;
    color: black;
    font-weight: bold;
    letter-spacing: 9px;
    margin-bottom: 50px;
  }
  .portrait{
    height: 240px;
    align-items: left;
  }
  .picture6{
    height: 184px;
  }
  .picture2{
    height: 240px;
  }
  .picture3{
    height: 184px;
  }
  .picture4{
height: 184px;  
  }
  .picture5{
    height: 184px;
  }
  .picture1{
    height: 240px;
  }
.picture7{
    height: 188px;
  }
.picture8{
    height: 188px;
  }
.picture9{
    height: 188px;
  }
.picture10{
    height: 188px;
  }

  .image-row{
     text-align:center;
  }

.image-row div {
   display: inline-block;
}
.hover-effect * {
  box-sizing: border-box; 
}

.hover-effect {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.image-row:last-child .hover-effect .text{
  top: 10%;
}
.hover-effect .text{
  font-family: 'Nothing You Could Do';
  font-weight: lighter;
  font-size: 16px;
  color: #000000;
  visibility: hidden;
  position: absolute;
  display: inline-block;
  text-align: center;
  top: 20%;
  bottom: 10%;
  left: 15%;
  right: 15%;
}
.hover-effect:hover img{
  opacity: 0;
  transition: all 0.1s ease-in-out 0.1s;
}
.hover-effect:hover .text{
  visibility: visible;
}

.wiki-link {
  width: 30px;
  padding-top: 30px;
  padding-bottom: 50px;
}
.wiki-hover-effect{
  position: relative;
  overflow: hidden;
  display: block;
  height: auto;
  text-align: center;
}
.wiki-hover-effect:hover img{
  opacity: 0.5;
  transition: all 0.1s ease-in-out 0s;
}
.link {
  content: url("http://simpleicon.com/wp-content/uploads/link-2.png");
  width: 10px;
}
.quote {
  font-family: 'Nothing You Could Do';
  font-size: 20px;
  width: 55%;
}

.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
  }
  
  .item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
}
.item:hover {
    flex: 7;
}
.item-1 {
    background-image: url('https://images.unsplash.com/photo-1499198116522-4a6235013d63?auto=format&fit=crop&w=1233&q=80');
}
.item-2 {
    background-image: url('https://images.unsplash.com/photo-1492760864391-753aaae87234?auto=format&fit=crop&w=1336&q=80');
}
.item-3 {
    background-image: url('https://images.unsplash.com/photo-1503631285924-e1544dce8b28?auto=format&fit=crop&w=1234&q=80');
}
.item-4 {
    background-image: url('https://images.unsplash.com/photo-1510425463958-dcced28da480?auto=format&fit=crop&w=1352&q=80');
}
.item-5 {
    background-image: url('https://images.unsplash.com/photo-1503602642458-232111445657?auto=format&fit=crop&w=1234&q=80');
}
